cassandra-driver==3.6.0
conda==4.3.16
Flask==1.0.2
matplotlib
numpy==1.16.3
Pillow==6.0.0
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
urllib3==1.24.1
virtualenv==16.5.0


~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                                          
~                                                                                          
